.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #1e293b;
  color: #cbd5e1;
  display: flex;
  align-items: center;
  justify-content: center;
}
