.login-wrapper {
  height: 100%; /* NOT 100vh */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #ffffff;
  padding: 40px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 5px;
  color: #1e3c72;
}

.subtitle {
  margin-bottom: 25px;
  font-size: 14px;
  color: #666;
}

.form-group {
  text-align: left;
  margin-bottom: 18px;
}

.form-group label {
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #2a5298;
  outline: none;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background: #1e3c72;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background: #16305f;
}

.redirect {
  margin-top: 15px;
  font-size: 13px;
}
